<div class="tab-pane fade d-none" id="security" role="tabpanel" aria-labelledby="idp-tab">
    <div class="card-body">
        <!-- enforce SSO -->
        <div>
            {% set error_helper %}
                {% if inputfields.enforce_sso.errors == true %}
                    <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.enforce_sso.errors }}</div>
                {% endif %}
            {% endset %}
            {{ fields.sliderField(
                inputfields.enforce_sso.field,
                inputfields.enforce_sso.value,
                inputfields.enforce_sso.formtitle,
                {
                    'add_field_html': error_helper,
                    helper: inputfields.enforce_sso.formexplain,
                }
            ) }}
        </div>

        <!-- Strict mode -->
        <div>
            {% set error_helper %}
                {% if inputfields.strict.errors == true %}
                    <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.strict.errors }}</div>
                {% endif %}
                {% if inputfields.strict.value == false %}
                            <div id="textHelper" class="form-text" style="color:rgb(180, 120, 8);">⚠️ Your environment is at risk, make sure strict is enabled!</div>
                {% endif %}
            {% endset %}
            {{ fields.sliderField(
                inputfields.strict.field,
                inputfields.strict.value,
                inputfields.strict.formtitle,
                {
                    'add_field_html': error_helper,
                    helper: inputfields.strict.formexplain,
                }
            ) }}
        </div>
        
        <!-- User JIT -->
        <div>
            {% set error_helper %}
                {% if inputfields.user_jit.errors == true %}
                    <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.user_jit.errors }}</div>
                {% endif %}
            {% endset %}
            {{ fields.sliderField(
                inputfields.user_jit.field,
                inputfields.user_jit.value,
                inputfields.user_jit.formtitle,
                {
                    'add_field_html': error_helper,
                    helper: inputfields.user_jit.formexplain,
                }
            ) }}
        </div>
        
        <!-- security_nameidencrypted -->
        <div>
            {% set error_helper %}
                {% if inputfields.security_nameidencrypted.errors == true %}
                    <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.security_nameidencrypted.errors }}</div>
                {% endif %}
            {% endset %}
            {{ fields.sliderField(
                inputfields.security_nameidencrypted.field,
                inputfields.security_nameidencrypted.value,
                inputfields.security_nameidencrypted.formtitle,
                {
                    'add_field_html': error_helper,
                    helper: inputfields.security_nameidencrypted.formexplain,
                }) 
            }}
        </div>

        

        <!-- security_authnrequestssigned -->
        <div>
            {% set error_helper %}
                {% if inputfields.security_authnrequestssigned.errors == true %}
                    <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.security_authnrequestssigned.errors }}</div>
                {% endif %}
            {% endset %}
            {{ fields.sliderField(
                inputfields.security_authnrequestssigned.field,
                inputfields.security_authnrequestssigned.value,
                inputfields.security_authnrequestssigned.formtitle,
                {
                    'add_field_html': error_helper,
                    helper: inputfields.security_authnrequestssigned.formexplain,
                }) 
            }}
        </div>

            

        <!-- security_logoutrequestsigned -->
        <div>
            {% set error_helper %}
                {% if inputfields.security_logoutrequestsigned.errors == true %}
                    <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.security_logoutrequestsigned.errors }}</div>
                {% endif %}
            {% endset %}
            {{ fields.sliderField(
                inputfields.security_logoutrequestsigned.field,
                inputfields.security_logoutrequestsigned.value,
                inputfields.security_logoutrequestsigned.formtitle,
                {
                    'add_field_html': error_helper,
                    helper: inputfields.security_logoutrequestsigned.formexplain,
                }) 
            }}
        </div>

        

        <!-- security_logoutresponsesigned -->
        <div>
            {% set error_helper %}
                {% if inputfields.security_logoutresponsesigned.errors == true %}
                    <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.security_logoutresponsesigned.errors }}</div>
                {% endif %}
            {% endset %}
            {{ fields.sliderField(
                inputfields.security_logoutresponsesigned.field,
                inputfields.security_logoutresponsesigned.value,
                inputfields.security_logoutresponsesigned.formtitle,
                {
                    'add_field_html': error_helper,
                    helper: inputfields.security_logoutresponsesigned.formexplain,
                }) 
            }}
        </div>
    </div>
</div>