<div class="tab-pane fade d-none" id="idp" role="tabpanel" aria-labelledby="idp-tab">
    <div class="card-body">
            <!-- idp_entity_id -->
            <div>
            {% set error_helper %}
                {% if inputfields.idp_entity_id.errors == true %}
                    <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.idp_entity_id.errors }}</div>
                {% endif %}
            {% endset %}

            {{ fields.textField( 
                inputfields.idp_entity_id.field, 
                inputfields.idp_entity_id.value, 
                inputfields.idp_entity_id.formtitle, 
                {
                    'add_field_html': error_helper,
                    helper: inputfields.idp_entity_id.formexplain,
                }) 
            }}
        </div>

        <!-- idp_single_sign_on_service -->
        <div>
            {% set error_helper %}
                {% if inputfields.idp_single_sign_on_service.errors == true %}
                    <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.idp_single_sign_on_service.errors }}</div>
                {% endif %}
            {% endset %}

            {{ fields.textField( 
                inputfields.idp_single_sign_on_service.field, 
                inputfields.idp_single_sign_on_service.value, 
                inputfields.idp_single_sign_on_service.formtitle ~ helper|raw, 
                {
                    'add_field_html': error_helper,
                    helper: inputfields.idp_single_sign_on_service.formexplain,
                }) 
            }}
        </div>

        <!-- idp_single_logout_service -->
        <div>
            {% set error_helper %}
                {% if inputfields.idp_single_logout_service.errors == true %}
                    <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.idp_single_logout_service.errors }}</div>
                {% endif %}
            {% endset %}

            {{ fields.textField( 
                inputfields.idp_single_logout_service.field, 
                inputfields.idp_single_logout_service.value, 
                inputfields.idp_single_logout_service.formtitle ~ helper|raw, 
                {
                    'add_field_html': error_helper,
                    helper: inputfields.idp_single_logout_service.formexplain,
                }) 
            }}
        </div>

        <!-- idp_certificate -->
        <div>
            {% set error_helper %}
                {% if inputfields.idp_certificate.errors == true %}
                    <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.idp_certificate.errors }}</div>
                {% endif %}
                {% if inputfields.idp_certificate.validate.subject.CN == true %}
                    <div id="textHelper" class="form-text" style="color:rgb(71, 180, 8);">🆗 Valid Certificate found: {{ inputfields.idp_certificate.validate.subject.CN }}</div>
                {% endif %}
                {% if inputfields.idp_certificate.validate.validations.validTo == true %}
                    <div id="textHelper" class="form-text" style="color:rgb(180, 140, 8);">{{ inputfields.idp_certificate.validate.validations.validTo }}</div>
                {% endif %}
                {% if inputfields.idp_certificate.validate.validations.validFrom == true %}
                    <div id="textHelper" class="form-text" style="color:rgb(180, 140, 8);">{{ inputfields.idp_certificate.validate.validations.validFrom }}</div>
                {% endif %}
            {% endset %}

            {{ fields.textareaField( 
                inputfields.idp_certificate.field, 
                inputfields.idp_certificate.value, 
                inputfields.idp_certificate.formtitle, 
                {
                    'add_field_html': error_helper,
                    helper: inputfields.idp_certificate.formexplain,
                }) 
            }}
        </div>

        <!-- requested_authn_context -->
        <div>
            <div class="form-field row col-12 col-sm-6  mb-2">
                <div class="col-form-label col-xxl-5 text-xxl-end">
                    <label for="{{ inputfields.requested_authn_context.field }}">{{ inputfields.requested_authn_context.formtitle }}</label>
                    <span class="form-help" data-bs-toggle="popover" data-bs-placement="top" data-bs-html="true"
                data-bs-content="{{ inputfields.requested_authn_context.formexplain }}">?</span>
                </div>
                <div class="col-xxl-7  field-container">
                    <!--
                    @see: https://codeberg.org/QuinQuies/glpisaml/issues/14
                    Todo: add nicer, userfriendly drag-drop element
                    -->
                    <select id="keep-order" multiple="multiple" aria-label="multiple select" name="{{ inputfields.requested_authn_context.field }}[]">
                        {% for key, authn in inputOptionsAuthnContext %}
                                {%set selected = false %}
                                {% for value in inputfields.requested_authn_context.value %}
                                    {% if value == key %}
                                        {% set selected = 'selected' %}
                                    {% endif %}
                                {% endfor %}
                                    <option {{ selected }} value="{{ key }}">{{ authn }}</option>
                            {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <!-- requested_authn_context -->
        <div>
            {% set error_helper %}
                {% if inputfields.requested_authn_context_comparison.errors == true %}
                    <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.requested_authn_context_comparison.errors }}</div>
                {% endif %}
            {% endset %}

            {{ fields.dropdownArrayField( 
                inputfields.requested_authn_context_comparison.field,
                inputfields.requested_authn_context_comparison.value,
                inputOptionsAuthnCompare,
                inputfields.requested_authn_context_comparison.formtitle ~ helper|raw, 
                {
                    'add_field_html': error_helper,
                    helper: inputfields.requested_authn_context_comparison.formexplain,
                }) 
            }}
            
        </div>

    </div>
</div>