{% import glpi_tpl_macro as fields %}
<div class="tab-pane fade d-none" id="provider" role="tabpanel" aria-labelledby="provider-tab">
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-lg-6 mb-4">
                <!-- Group 1: Endpoints & Metadata -->
                <div class="samlsso-category-header">
                    <i class="fas fa-network-wired me-2 text-primary"></i>{{ __('Endpoints & Metadata', plugin) }}
                </div>
                <div class="samlsso-category-body">
                    <!-- Entity ID -->
                    <div class="mb-3">
                        {{ fields.textField(
                            'EntityID', 
                            entityID, 
                            __('Entity ID', plugin),
                            {
                                'id': 'EntityId',
                                'readonly':true,
                                'is_copyable': true,
                                helper: __('You need to configure the Entity ID at the identity provider. This value is crosschecked by the identity provider to make sure the sign-in request is originating from the correct service provider.', plugin),
                            }
                        ) }}
                    </div>

                    <!-- Meta URL -->
                    <div class="mb-3">
                        {% set metaUrl %}
                            <div class="btn-group btn-group-sm d-flex">
                                <input type="text" id="MetaUrl" class="form-control rounded-end-0" name="MetaUrl" value="{{ metaUrl }}" readonly="readonly">
                                {% if inputfields.debug.value == false %}
                                    {% set rand = random() %}
                                    <button type="button" id="meta_warning_{{ rand }}" class="btn btn-outline-secondary">
                                        <i class="ti ti-alert-triangle"></i>
                                    </button>
                                    {% do call('Html::showToolTip', [
                                        "Debug is disabled, metadata will only be exposed if 'debug' is enabled.",
                                        {'applyto': 'meta_warning_' ~ rand}
                                    ]) %}
                                {% endif %}
                                <button type="button" class="btn btn-outline-secondary" onclick="copyDisclosablePasswordFieldToClipboard('MetaUrl')">
                                    <i class="ti ti-clipboard-copy disclose"></i>
                                </button>
                            </div>
                        {% endset %}
                        {{ fields.field(
                            'MetaUrl', 
                            metaUrl, 
                            __('MetaUrl', plugin),
                            {
                                helper: __('The location of the metadata provider for this service provider (GLPI). The meta location can be used by the identity provider to collect important information from this service provider like what public certificate to use for signing and encrypting the SamlResponse.', plugin),
                            }
                        ) }}
                    </div>
                   
                    <!-- ACS url -->
                    <div class="mb-3">
                        {{ fields.textField(
                            'AcsUrl', 
                            acsUrl, 
                            __('AcsUrl', plugin),
                            {
                                'id': 'AcsUrl',
                                'readonly':true,
                                'is_copyable': true,
                                helper: __('The location of the Assertion Consumer Service (ACS) for this service provider (GLPI). This url is called by the identity provider after succesfull login.', plugin),
                            }
                        ) }}
                    </div>

                    <!-- Logout url -->
                    <div class="mb-3">
                        {{ fields.textField(
                            'SloUrl', 
                             sloUrl, 
                            __('SloUrl', plugin),
                            {
                                'id': 'SloUrl',
                                'readonly':true,
                                'is_copyable': true,
                                helper: __('The location where logout requests should be send back to from the Identity Provider.', plugin),
                            }
                        ) }}
                    </div>
                </div>

                <!-- Group 2: Name ID Policy -->
                <div class="samlsso-category-header">
                    <i class="fas fa-fingerprint me-2 text-primary"></i>{{ __('Name ID Policy', plugin) }}
                </div>
                <div class="samlsso-category-body">
                    <div class="mb-3">
                        {% set error_helper %}
                            {% if inputfields.sp_nameid_format.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.sp_nameid_format.errors }}</div>
                            {% endif %}
                        {% endset %}

                        {{ fields.dropdownArrayField(
                            inputfields.sp_nameid_format.field,
                            inputfields.sp_nameid_format.value,
                            inputOptionsNameFormat,
                            inputfields.sp_nameid_format.formtitle,
                            {
                                'add_field_html': error_helper|raw,
                                helper: inputfields.sp_nameid_format.formexplain,
                            }
                        ) }}
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 mb-4">
                <!-- Group 3: Certificates & Keys -->
                <div class="samlsso-category-header">
                    <i class="fas fa-key me-2 text-primary"></i>{{ __('Certificates & Keys', plugin) }}
                </div>
                <div class="samlsso-category-body">
                    <!-- sp_certificate -->
                    <div class="mb-3">
                        {% set error_helper %}
                            {% if inputfields.sp_private_key.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.sp_private_key.errors }}</div>
                            {% endif %}
                            {% if inputfields.sp_certificate.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.sp_certificate.errors }}</div>
                            {% endif %}
                            {# make sure validate is an array/object before accessing nested keys #}
                            {% set sp_validate = inputfields.sp_certificate.validate|default({}) %}
                            {% if sp_validate.subject.CN|default(false) == true %}
                                <div id="textHelper" class="form-text" style="color:rgb(71, 180, 8);">🆗 Valid certificate found: {{ sp_validate.subject.CN|default('') }}</div>
                            {% endif %}
                            {% if sp_validate.validations.validTo|default(false) == true %}
                                <div id="textHelper" class="form-text" style="color:rgb(180, 120, 8);">{{ sp_validate.validations.validTo|default('') }}</div>
                            {% endif %}
                            {% if sp_validate.validations.validFrom|default(false) == true %}
                                <div id="textHelper" class="form-text" style="color:rgb(180, 120, 8);">{{ sp_validate.validations.validFrom|default('') }}</div>
                            {% endif %}
                        {% endset %}
                        
                        {{ fields.textareaField(
                            inputfields.sp_certificate.field,
                            inputfields.sp_certificate.value,
                            inputfields.sp_certificate.formtitle,
                            {
                                'add_field_html': error_helper|raw,
                                helper: inputfields.sp_certificate.formexplain,
                            }) 
                        }}
                    </div>

                    <!-- sp_private_key -->
                    <div class="mb-3">
                        {{ fields.textareaField( 
                            inputfields.sp_private_key.field,
                            inputfields.sp_private_key.value,
                            inputfields.sp_private_key.formtitle,
                            {
                                helper: inputfields.sp_private_key.formexplain,
                            }) 
                        }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
