<!-- implemented in ConfigForm->generateForm() -->
<!-- https://codeberg.org/QuinQuies/glpisaml/issues/13 -->
{% import glpi_tpl_macro as fields %}

<script>
    // Remember tab state
    $(function() {
        $('a[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
            localStorage.setItem('lastTab', $(this).attr('href'));
        });
        // Manage d-none class for tabpanels
        $('a[data-bs-toggle="tab"]').on('show.bs.tab', function (e) {
            $($(e.target).attr('href') || $(e.target).data('bs-target')).removeClass('d-none');
        });
        $('a[data-bs-toggle="tab"]').on('hide.bs.tab', function (e) {
            $($(e.target).attr('href') || $(e.target).data('bs-target')).addClass('d-none');
        });

        var lastTab = localStorage.getItem('lastTab');
        
        var urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('search') || urlParams.has('page')) {
            lastTab = '#logging';
        }
        
        if (lastTab) {
            $('[href="' + lastTab + '"]').tab('show');
        }

        // Ensure current active tab is visible
        $('.tab-pane.show').removeClass('d-none');
        $('.tab-pane').not('.show').addClass('d-none');
    });
    // Clipboard function
    function copyClip(key) {
        // Get the text field
        var copyText = document.getElementById(key);
        // Select the text field
        copyText.select();
        copyText.setSelectionRange(0, 99999); // For mobile devices
        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.value);
        // Alert the copied text
        alert("Succesfully copied the value: " + copyText.value + " to your clipboard.");
    }
</script>

<form name="form" method="post" action="{{ glpi_rootdoc }}" id="phpsaml_config">
<div class="phpsaml_config_wrapper" id="samlForm">
    <input type="hidden" name="{{ inputfields.id.field }}" value="{{ inputfields.id.value }}">

    <div class="card" style="min-height:100%;">
        <!-- Input fields -->
        <ul class="nav nav-tabs" id="samlTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" 
                   id="general-tab" 
                   data-bs-toggle="tab" 
                   href="#general" 
                   data-bs-target="#general" 
                   type="button" role="tab" 
                   aria-controls="general" 
                   aria-selected="true"><b>{{ __("General") }} {{ general_warning }}</b></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" 
                   id="general-tab" 
                   data-bs-toggle="tab" 
                   href="#transit" 
                   data-bs-target="#transit" 
                   type="button" 
                   role="tab" 
                   aria-controls="transit" 
                   aria-selected="true"><b>{{ __('Transit', plugin) }} {{ transit_warning }}</b></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" 
                   id="provider-tab" 
                   data-bs-toggle="tab" 
                   href="#provider" 
                   data-bs-target="#provider" 
                   type="button" 
                   role="tab" 
                   aria-controls="provider" 
                   aria-selected="false"><b>{{ __('Service provider', plugin) }} {{ provider_warning }}</b></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" 
                   id="idp-tab" 
                   data-bs-toggle="tab" 
                   href="#idp" 
                   data-bs-target="#idp" 
                   type="button" 
                   role="tab" 
                   aria-controls="idp" 
                   aria-selected="false"><b>{{ __('Identity provider', plugin) }} {{ idp_warning }}</b></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" 
                   id="security-tab" 
                   data-bs-toggle="tab" 
                   href="#security" 
                   data-bs-target="#security" 
                   type="button" 
                   role="tab" 
                   aria-controls="security" 
                   aria-selected="false"><b>{{ __('Security') }} {{ security_warning }}</b></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link"
                   id="logging-tab" 
                   data-bs-toggle="tab" 
                   href="#logging" 
                   data-bs-target="#logging" 
                   type="button" 
                   role="tab" 
                   aria-controls="logging" 
                   aria-selected="false"><b>{{ __('Logging') }}</b></a>
            </li>
        </ul>
        <div class="tab-content flex-fill glpisaml" id="myTabContent">
           <!-- ################################################################################-->
            <!-- General details -->
            <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                <div class="card-body">
                    <div class="row g-2">
                        <!-- name field -->
                        <div>
                            {% set error_helper %}
                                {% if inputfields.name.errors == true %}
                                    <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.name.errors }}</div>
                                {% endif %}
                                {% if buttonsHiddenWarn == true %}
                                    <div id="textHelper" class="form-text" style="color:rgb(180, 120, 8)">⚠️ Userdomain is configured. The login button will be hidden from the loginscreen. Clear the Userdomain to make the button visable again.</div>
                                {% endif %}
                            {% endset %}

                            {{ fields.textField(
                                inputfields.name.field, 
                                inputfields.name.value, 
                                inputfields.name.formtitle, 
                                {
                                    'add_field_html': error_helper,
                                    helper: inputfields.name.formexplain,
                                }
                            ) }}
                        </div>
                   
                        <!-- icon field -->
                        <div>
                            {% set error_helper %}
                                {% if inputfields.conf_icon.errors == true %}
                                    <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.conf_icon.errors }}</div>
                                {% endif %}
                                {% if buttonsHiddenWarn == true %}
                                    <div id="textHelper" class="form-text" style="color:rgb(180, 120, 8)">⚠️ Userdomain is configured. The login button will be hidden from the loginscreen. Clear the Userdomain to make the button visable again.</div>
                                {% endif %}
                            {% endset %}
                            {{ fields.textField(
                                inputfields.conf_icon.field, 
                                inputfields.conf_icon.value, 
                                inputfields.conf_icon.formtitle, 
                                {
                                    'add_field_html': error_helper,
                                    helper: inputfields.conf_icon.formexplain,
                                }
                            ) }}
                        </div>

                        <!-- domain field -->
                        <div>
                            {% set error_helper %}
                                {% if inputfields.conf_domain.errors == true %}
                                    <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.conf_domain.errors }}</div>
                                {% endif %}
                                {% if buttonsHiddenWarn == true %}
                                    <div id="textHelper" class="form-text" style="color:rgb(3, 126, 26)">🔒 Userdomain is configured. Users can trigger a Saml Login by providing their {username}@{userdomain} in the glpi username field and pressing the login button. The password field is ignored and can be left blank. This is a more secure option that wont expose configured IDPs.
                                    </div>
                                {% endif %}
                            {% endset %}

                            {{ fields.textField(
                                inputfields.conf_domain.field, 
                                inputfields.conf_domain.value, 
                                inputfields.conf_domain.formtitle, 
                                {
                                    'add_field_html': error_helper|raw,
                                    helper: inputfields.conf_domain.formexplain,
                                }
                            ) }}
                        </div>

                        <!-- Comment field -->
                        <div>
                            {% set error_helper %}
                                {% if inputfields.comment.errors == true %}
                                    <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.comment.errors }}</div>
                                {% endif %}
                            {% endset %}
                            {{ fields.textareaField(
                                inputfields.comment.field, 
                                inputfields.comment.value, 
                                inputfields.comment.formtitle, 
                                {
                                    'required':false,
                                    'add_field_html': error_helper,
                                    helper: inputfields.comment.formexplain,
                                }
                            ) }}
                        </div>

                         <!-- enabled -->
                         <div>
                            {% set error_helper %}
                                {% if inputfields.is_active.errors == true %}
                                    <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.is_active.errors }}</div>
                                {% endif %}
                            {% endset %}
                            {{ fields.sliderField(
                                inputfields.is_active.field,
                                inputfields.is_active.value,
                                inputfields.is_active.formtitle,
                               {
                                  'add_field_html': error_helper,
                                  helper: inputfields.is_active.formexplain,
                               }
                            ) }}
                        </div>

                        <!-- Debug mode -->
                        <div>
                            {% set error_helper %}
                                {% if inputfields.debug.errors == true %}
                                    <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.debug.errors }}</div>
                                {% endif %}
                            {% endset %}
                            {{ fields.sliderField(
                                inputfields.debug.field,
                                inputfields.debug.value,
                                inputfields.debug.formtitle,
                               {
                                  'add_field_html': error_helper,
                                  helper: inputfields.debug.formexplain,
                               }
                            ) }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- ################################################################################-->
            <!-- transit tab -->
            <div class="tab-pane fade show" id="transit" role="tabpanel" aria-labelledby="transit-tab">
                <div class="card-body">
                    <div class="row g-2">

                        <!-- compress_requests -->
                        <div>
                            {% set error_helper %}
                                {% if inputfields.compress_requests.errors == true %}
                                    <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.compress_requests.errors }}</div>
                                {% endif %}
                            {% endset %}
                            {{ fields.sliderField(
                                inputfields.compress_requests.field,
                                inputfields.compress_requests.value,
                                inputfields.compress_requests.formtitle,
                               {
                                  'add_field_html': error_helper,
                                   helper: inputfields.compress_requests.formexplain,
                               }
                            ) }}
                        </div>

                        <!-- compress_responses -->
                        <div>
                            {% set error_helper %}
                                {% if inputfields.compress_responses.errors == true %}
                                    <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.compress_responses.errors }}</div>
                                {% endif %}
                            {% endset %}
                            {{ fields.sliderField(
                                inputfields.compress_responses.field,
                                inputfields.compress_responses.value,
                                inputfields.compress_responses.formtitle,
                               {
                                  'add_field_html': error_helper,
                                   helper: inputfields.compress_responses.formexplain,
                               }
                            ) }}
                        </div>
                        
                        <!-- Proxied -->
                        <div>
                            {% set error_helper %}
                                {% if inputfields.proxied.errors == true %}
                                    <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.proxied.errors }}</div>
                                {% endif %}
                                {% if inputfields.proxied.value == true %}
                                    {% if inputfields.strict.value == true %}
                                        <div id="textHelper" class="form-text" style="color:rgb(180, 120, 8);">⚠️ Beware, misaligned proxy schemes might break the samlValidation in strict mode.<br>(<b>https</b>://external)=>(<b>http</b>://internal)</div>
                                    {% endif %}
                                {% endif %}
                            {% endset %}
                            {{ fields.sliderField(
                                inputfields.proxied.field,
                                inputfields.proxied.value,
                                inputfields.proxied.formtitle,
                               {
                                  'add_field_html': error_helper,
                                   helper: inputfields.proxied.formexplain,
                               }
                            ) }}
                        </div>

                        <!-- validate_xml -->
                        <div>
                            {% set error_helper %}
                                {% if inputfields.validate_xml.errors == true %}
                                    <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.validate_xml.errors }}</div>
                                {% endif %}
                                {% if inputfields.strict.value == false %}
                                    <div id="textHelper" class="form-text" style="color:rgb(180, 120, 8);">⚠️ Strict is disabled, validate xml setting will not do anything.</div>
                                {% endif %}
                            {% endset %}
                            {{ fields.sliderField(
                                inputfields.validate_xml.field,
                                inputfields.validate_xml.value,
                                inputfields.validate_xml.formtitle,
                               {
                                  'add_field_html': error_helper,
                                   helper: inputfields.validate_xml.formexplain,
                               }
                            ) }}
                        </div>

                        <!-- validate_destination -->
                        <div>
                            {% set error_helper %}
                                {% if inputfields.validate_destination.errors == true %}
                                    <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.validate_destination.errors }}</div>
                                {% endif %}
                            {% endset %}
                            {{ fields.sliderField(
                                inputfields.validate_destination.field,
                                inputfields.validate_destination.value,
                                inputfields.validate_destination.formtitle,
                               {
                                  'add_field_html': error_helper,
                                   helper: inputfields.validate_destination.formexplain,
                               }
                            ) }}
                        </div>

                        <!-- lowercase_url_encoding -->
                        <div>
                            {% set error_helper %}
                                {% if inputfields.lowercase_url_encoding.errors == true %}
                                    <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.lowercase_url_encoding.errors }}</div>
                                {% endif %}
                            {% endset %}
                            {{ fields.sliderField(
                                inputfields.lowercase_url_encoding.field,
                                inputfields.lowercase_url_encoding.value,
                                inputfields.lowercase_url_encoding.formtitle,
                               {
                                  'add_field_html': error_helper,
                                   helper: inputfields.lowercase_url_encoding.formexplain,
                               }
                            ) }}
                        </div>

                    </div>
                </div>
            </div>

            <!-- ################################################################################-->
            <div class="tab-pane fade d-none" id="provider" role="tabpanel" aria-labelledby="provider-tab">
                <div class="card-body">

                    <!-- Service provider details -->
                    <div>
                        <!-- Entity ID -->
                        {% set clipboad %}
                            <span class='btn btn-ghost-info' onclick="copyClip('EntityId')" onkeydown="copyClip('EntityId')">Copy Entity Id to clipboard</span>
                        {% endset %}
                        {{ fields.textField(
                            'EntityID', 
                            entityID, 
                            'Entity ID',
                            {
                                'id': 'EntityId',
                                'disabled':true,
                                'add_field_html': clipboad,
                                helper: __('You need to configure the Entity ID at the identity provider. This value is
                                            crosschecked by the identity provider to make sure the sign-in request is
                                            originating from the correct service provider.'),
                            }
                        ) }}

                        <!-- Meta URL -->
                        {% set clipboad %}
                            <span class='btn btn-ghost-info' onclick="copyClip('MetaUrl')" onkeydown="copyClip('MetaUrl')">Copy Meta Url to clipboard</span>
                            {% if inputfields.debug.value == false %}
                                <span class="form-help" data-bs-toggle="popover" data-bs-placement="top" data-bs-html="true" data-bs-content="Debug is 
                                disabled, metadata will only be exposed if 'debug' is enabled.">⚠️</span>
                            {% endif %}
                        {% endset %}
                        {{ fields.textField(
                            'MetaUrl', 
                            metaUrl, 
                            'MetaUrl',
                            {
                                'id': 'MetaUrl',
                                'disabled':true,
                                'add_field_html': clipboad,
                                helper: __('The location of the metadata provider for this service provider (GLPI). The meta location can be
                                            used by the identity provider to collect important information from this service provider like
                                            what public certificate to use for signing and encrypting the SamlResponse.'),
                            }
                        ) }}
                       
                        <!-- ACS url -->
                        {% set clipboad %}
                            <span class='btn btn-ghost-info' onclick="copyClip('AcsUrl')" onkeydown="copyClip('AcsUrl')">Copy ACS Url to clipboard</span>
                        {% endset %}
                        {{ fields.textField(
                            'AcsUrl', 
                            acsUrl, 
                            'AcsUrl',
                            {
                                'id': 'AcsUrl',
                                'disabled':true,
                                'add_field_html': clipboad,
                                helper: __('The location of the Assertion Consumer Service (ACS) for this service provider (GLPI). 
                                            This url is called by the identity provider after succesfull login.'),
                            }
                        ) }}


                        <!-- Logout url -->
                        {% set clipboad %}
                            <span class='btn btn-ghost-info' onclick="copyClip('SloUrl')" onkeydown="copyClip('SloUrl')">Copy logout Url to clipboard</span>
                        {% endset %}
                        {{ fields.textField(
                            'SloUrl', 
                             sloUrl, 
                            'SloUrl',
                            {
                                'id': 'SloUrl',
                                'disabled':true,
                                'add_field_html': clipboad,
                                helper: __('The location where logout requests should be send back to from the Identity Provider.'),
                            }
                        ) }}
                    </div>

                    <!-- sp_certificate -->
                    <div>
                        {% set error_helper %}
                            {% if inputfields.sp_private_key.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.sp_private_key.errors }}</div>
                            {% endif %}
                            {% if inputfields.sp_certificate.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.sp_certificate.errors }}</div>
                            {% endif %}
                            {# make sure validate is an array/object before accessing nested keys #}
+                           {% set sp_validate = inputfields.sp_certificate.validate|default({}) %}
                            {% if sp_validate.subject.CN|default(false) == true %}
                                <div id="textHelper" class="form-text" style="color:rgb(71, 180, 8);">🆗 Valid certificate found: {{ sp_validate.subject.CN|default('') }}</div>
                            {% endif %}
                            {% if sp_validate.validations.validTo|default(false) == true %}
                                <div id="textHelper" class="form-text" style="color:rgb(180, 120, 8);">{{ sp_validate.validations.validTo|default('') }}</div>
                            {% endif %}
                            {% if sp_validate.validations.validFrom|default(false) == true %}
                                <div id="textHelper" class="form-text" style="color:rgb(180, 120, 8);">{{ sp_validate.validations.validFrom|default('') }}</div>
                            {% endif %}
                        {% endset %}
                        
                        {{ fields.textareaField(
                            inputfields.sp_certificate.field,
                            inputfields.sp_certificate.value,
                            inputfields.sp_certificate.formtitle,
                            {
                                'add_field_html': error_helper,
                                helper: inputfields.sp_certificate.formexplain,
                            }) 
                        }}
                    </div>

                    <!-- sp_private_key -->
                    <div>
                        {{ fields.textareaField( 
                            inputfields.sp_private_key.field,
                            inputfields.sp_private_key.value,
                            inputfields.sp_private_key.formtitle,
                            {
                                helper: inputfields.sp_private_key.formexplain,
                            }) 
                        }}
                    </div>
                    
                    <div>
                        {% set error_helper %}
                            {% if inputfields.sp_nameid_format.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.sp_nameid_format.errors }}</div>
                            {% endif %}
                        {% endset %}

                        {{ fields.dropdownArrayField(
                            inputfields.sp_nameid_format.field,
                            inputfields.sp_nameid_format.value,
                            inputOptionsNameFormat,
                            inputfields.sp_nameid_format.formtitle,
                            {
                                'add_field_html': error_helper,
                                helper: inputfields.sp_nameid_format.formexplain,
                            }
                        ) }}
                    </div>
                </div>
            </div>

            <!-- ################################################################################-->
            <!-- Identity provider details -->
            <div class="tab-pane fade d-none" id="idp" role="tabpanel" aria-labelledby="idp-tab">
                <div class="card-body">
                     <!-- idp_entity_id -->
                     <div>
                        {% set error_helper %}
                            {% if inputfields.idp_entity_id.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.idp_entity_id.errors }}</div>
                            {% endif %}
                        {% endset %}

                        {{ fields.textField( 
                            inputfields.idp_entity_id.field, 
                            inputfields.idp_entity_id.value, 
                            inputfields.idp_entity_id.formtitle, 
                            {
                                'add_field_html': error_helper,
                                helper: inputfields.idp_entity_id.formexplain,
                            }) 
                        }}
                    </div>

                    <!-- idp_single_sign_on_service -->
                    <div>
                        {% set error_helper %}
                            {% if inputfields.idp_single_sign_on_service.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.idp_single_sign_on_service.errors }}</div>
                            {% endif %}
                        {% endset %}

                        {{ fields.textField( 
                            inputfields.idp_single_sign_on_service.field, 
                            inputfields.idp_single_sign_on_service.value, 
                            inputfields.idp_single_sign_on_service.formtitle ~ helper|raw, 
                            {
                                'add_field_html': error_helper,
                                helper: inputfields.idp_single_sign_on_service.formexplain,
                            }) 
                        }}
                    </div>

                    <!-- idp_single_logout_service -->
                    <div>
                        {% set error_helper %}
                            {% if inputfields.idp_single_logout_service.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.idp_single_logout_service.errors }}</div>
                            {% endif %}
                        {% endset %}

                        {{ fields.textField( 
                            inputfields.idp_single_logout_service.field, 
                            inputfields.idp_single_logout_service.value, 
                            inputfields.idp_single_logout_service.formtitle ~ helper|raw, 
                            {
                                'add_field_html': error_helper,
                                helper: inputfields.idp_single_logout_service.formexplain,
                            }) 
                        }}
                    </div>

                    <!-- idp_certificate -->
                    <div>
                        {% set error_helper %}
                            {% if inputfields.idp_certificate.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.idp_certificate.errors }}</div>
                            {% endif %}
                            {% if inputfields.idp_certificate.validate.subject.CN == true %}
                                <div id="textHelper" class="form-text" style="color:rgb(71, 180, 8);">🆗 Valid Certificate found: {{ inputfields.idp_certificate.validate.subject.CN }}</div>
                            {% endif %}
                            {% if inputfields.idp_certificate.validate.validations.validTo == true %}
                                <div id="textHelper" class="form-text" style="color:rgb(180, 140, 8);">{{ inputfields.idp_certificate.validate.validations.validTo }}</div>
                            {% endif %}
                            {% if inputfields.idp_certificate.validate.validations.validFrom == true %}
                                <div id="textHelper" class="form-text" style="color:rgb(180, 140, 8);">{{ inputfields.idp_certificate.validate.validations.validFrom }}</div>
                            {% endif %}
                        {% endset %}

                        {{ fields.textareaField( 
                            inputfields.idp_certificate.field, 
                            inputfields.idp_certificate.value, 
                            inputfields.idp_certificate.formtitle, 
                            {
                                'add_field_html': error_helper,
                                helper: inputfields.idp_certificate.formexplain,
                            }) 
                        }}
                    </div>

                    <!-- requested_authn_context -->
                    <div>
                        <div class="form-field row col-12 col-sm-6  mb-2">
                            <div class="col-form-label col-xxl-5 text-xxl-end">
                                <label for="{{ inputfields.requested_authn_context.field }}">{{ inputfields.requested_authn_context.formtitle }}</label>
                                <span class="form-help" data-bs-toggle="popover" data-bs-placement="top" data-bs-html="true"
                            data-bs-content="{{ inputfields.requested_authn_context.formexplain }}">?</span>
                            </div>
                            <div class="col-xxl-7  field-container">
                                <!--
                                @see: https://codeberg.org/QuinQuies/glpisaml/issues/14
                                Todo: add nicer, userfriendly drag-drop element
                                -->
                                <select id="keep-order" multiple="multiple" aria-label="multiple select" name="{{ inputfields.requested_authn_context.field }}[]">
                                    {% for key, authn in inputOptionsAuthnContext %}
                                            {%set selected = false %}
                                            {% for value in inputfields.requested_authn_context.value %}
                                                {% if value == key %}
                                                    {% set selected = 'selected' %}
                                                {% endif %}
                                            {% endfor %}
                                                <option {{ selected }} value="{{ key }}">{{ authn }}</option>
                                        {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- requested_authn_context -->
                    <div>
                        {% set error_helper %}
                            {% if inputfields.requested_authn_context_comparison.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.requested_authn_context_comparison.errors }}</div>
                            {% endif %}
                        {% endset %}

                        {{ fields.dropdownArrayField( 
                            inputfields.requested_authn_context_comparison.field,
                            inputfields.requested_authn_context_comparison.value,
                            inputOptionsAuthnCompare,
                            inputfields.requested_authn_context_comparison.formtitle ~ helper|raw, 
                            {
                                'add_field_html': error_helper,
                                helper: inputfields.requested_authn_context_comparison.formexplain,
                            }) 
                        }}
                       
                    </div>

                </div>
            </div>

            <!-- ################################################################################-->
            <!-- Security details -->
            <div class="tab-pane fade d-none" id="security" role="tabpanel" aria-labelledby="idp-tab">
                <div class="card-body">
                    <!-- enforce SSO -->
                    <div>
                        {% set error_helper %}
                            {% if inputfields.enforce_sso.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.enforce_sso.errors }}</div>
                            {% endif %}
                        {% endset %}
                        {{ fields.sliderField(
                            inputfields.enforce_sso.field,
                            inputfields.enforce_sso.value,
                            inputfields.enforce_sso.formtitle,
                            {
                                'add_field_html': error_helper,
                                helper: inputfields.enforce_sso.formexplain,
                            }
                        ) }}
                    </div>

                    <!-- Strict mode -->
                    <div>
                        {% set error_helper %}
                            {% if inputfields.strict.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.strict.errors }}</div>
                            {% endif %}
                            {% if inputfields.strict.value == false %}
                                        <div id="textHelper" class="form-text" style="color:rgb(180, 120, 8);">⚠️ Your environment is at risk, make sure strict is enabled!</div>
                            {% endif %}
                        {% endset %}
                        {{ fields.sliderField(
                            inputfields.strict.field,
                            inputfields.strict.value,
                            inputfields.strict.formtitle,
                            {
                                'add_field_html': error_helper,
                                helper: inputfields.strict.formexplain,
                            }
                        ) }}
                    </div>
                    
                    <!-- User JIT -->
                    <div>
                        {% set error_helper %}
                            {% if inputfields.user_jit.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.user_jit.errors }}</div>
                            {% endif %}
                        {% endset %}
                        {{ fields.sliderField(
                            inputfields.user_jit.field,
                            inputfields.user_jit.value,
                            inputfields.user_jit.formtitle,
                            {
                                'add_field_html': error_helper,
                                helper: inputfields.user_jit.formexplain,
                            }
                        ) }}
                    </div>
                    
                    <!-- security_nameidencrypted -->
                    <div>
                        {% set error_helper %}
                            {% if inputfields.security_nameidencrypted.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.security_nameidencrypted.errors }}</div>
                            {% endif %}
                        {% endset %}
                        {{ fields.sliderField(
                            inputfields.security_nameidencrypted.field,
                            inputfields.security_nameidencrypted.value,
                            inputfields.security_nameidencrypted.formtitle,
                            {
                                'add_field_html': error_helper,
                                helper: inputfields.security_nameidencrypted.formexplain,
                            }) 
                        }}
                    </div>

                    

                    <!-- security_authnrequestssigned -->
                    <div>
                        {% set error_helper %}
                            {% if inputfields.security_authnrequestssigned.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.security_authnrequestssigned.errors }}</div>
                            {% endif %}
                        {% endset %}
                        {{ fields.sliderField(
                            inputfields.security_authnrequestssigned.field,
                            inputfields.security_authnrequestssigned.value,
                            inputfields.security_authnrequestssigned.formtitle,
                            {
                                'add_field_html': error_helper,
                                helper: inputfields.security_authnrequestssigned.formexplain,
                            }) 
                        }}
                    </div>

                        

                    <!-- security_logoutrequestsigned -->
                    <div>
                        {% set error_helper %}
                            {% if inputfields.security_logoutrequestsigned.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.security_logoutrequestsigned.errors }}</div>
                            {% endif %}
                        {% endset %}
                        {{ fields.sliderField(
                            inputfields.security_logoutrequestsigned.field,
                            inputfields.security_logoutrequestsigned.value,
                            inputfields.security_logoutrequestsigned.formtitle,
                            {
                                'add_field_html': error_helper,
                                helper: inputfields.security_logoutrequestsigned.formexplain,
                            }) 
                        }}
                    </div>
    
                    

                    <!-- security_logoutresponsesigned -->
                    <div>
                        {% set error_helper %}
                            {% if inputfields.security_logoutresponsesigned.errors == true %}
                                <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.security_logoutresponsesigned.errors }}</div>
                            {% endif %}
                        {% endset %}
                        {{ fields.sliderField(
                            inputfields.security_logoutresponsesigned.field,
                            inputfields.security_logoutresponsesigned.value,
                            inputfields.security_logoutresponsesigned.formtitle,
                            {
                                'add_field_html': error_helper,
                                helper: inputfields.security_logoutresponsesigned.formexplain,
                            }) 
                        }}
                    </div>
                </div>
            </div>
            <!-- ################################################################################-->
            <!-- Logging details -->
            <div class="tab-pane fade d-none" id="logging" role="tabpanel" aria-labelledby="logging-tab">
                <style>
                    /* Styling for custom logging tab */
                    .logging-badge {
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0.25em 0.6em;
                        font-size: 0.75rem;
                        font-weight: 600;
                        line-height: 1;
                        text-align: center;
                        white-space: nowrap;
                        vertical-align: baseline;
                        border-radius: 0.375rem;
                        border: 1px solid transparent;
                    }
                    .logging-badge-success {
                        background-color: hsl(142, 70%, 95%);
                        color: hsl(142, 76%, 28%);
                        border-color: hsl(142, 70%, 90%);
                    }
                    .logging-badge-danger {
                        background-color: hsl(354, 70%, 96%);
                        color: hsl(354, 76%, 35%);
                        border-color: hsl(354, 70%, 90%);
                    }
                    /* Phase Badges HSL curated palette */
                    .logging-badge-phase-1 { /* Initial */
                        background-color: hsl(210, 80%, 96%);
                        color: hsl(210, 80%, 35%);
                        border-color: hsl(210, 80%, 90%);
                    }
                    .logging-badge-phase-2 { /* SAML ACS Expected */
                        background-color: hsl(35, 90%, 96%);
                        color: hsl(35, 90%, 35%);
                        border-color: hsl(35, 90%, 90%);
                    }
                    .logging-badge-phase-3 { /* SAML Authed */
                        background-color: hsl(190, 80%, 95%);
                        color: hsl(190, 80%, 30%);
                        border-color: hsl(190, 80%, 90%);
                    }
                    .logging-badge-phase-4 { /* GLPI Authed */
                        background-color: hsl(150, 60%, 95%);
                        color: hsl(150, 60%, 30%);
                        border-color: hsl(150, 60%, 90%);
                    }
                    .logging-badge-phase-5 { /* Reserved */
                        background-color: hsl(260, 30%, 95%);
                        color: hsl(260, 30%, 45%);
                        border-color: hsl(260, 30%, 90%);
                    }
                    .logging-badge-phase-6 { /* Forced Logoff */
                        background-color: hsl(10, 85%, 96%);
                        color: hsl(10, 85%, 40%);
                        border-color: hsl(10, 85%, 90%);
                    }
                    .logging-badge-phase-7 { /* Timed Out */
                        background-color: hsl(0, 0%, 90%);
                        color: hsl(0, 0%, 35%);
                        border-color: hsl(0, 0%, 80%);
                    }
                    .logging-badge-phase-8 { /* Logged Out */
                        background-color: hsl(280, 50%, 95%);
                        color: hsl(280, 50%, 40%);
                        border-color: hsl(280, 50%, 90%);
                    }
                    
                    .logging-table th {
                        font-weight: 600;
                        font-size: 0.8rem;
                        text-transform: uppercase;
                        letter-spacing: 0.05em;
                        color: var(--tb-secondary, #626976);
                    }
                    
                    .logging-table td {
                        padding: 0.65rem 0.5rem;
                    }
                    
                    /* Popover improvements */
                    .popover {
                        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
                        border-color: var(--tb-border-color, #dee2e6) !important;
                        border-radius: 0.5rem !important;
                        max-width: 480px !important;
                    }
                    .popover-header {
                        font-weight: 600;
                        background-color: var(--tb-light, #f8f9fa);
                        border-bottom-color: var(--tb-border-color, #dee2e6);
                    }
                </style>

                <div class="card-body">
                    <div class="d-flex flex-column gap-3">
                        <!-- Header with description -->
                        <div class="logging-header p-3 mb-2 rounded-3 border" style="background-color: var(--tb-light, #f8f9fa); border-color: var(--tb-border-color, #dee2e6);">
                            <h4 class="mb-2 text-primary d-flex align-items-center gap-2">
                                <i class="ti ti-history"></i>
                                {{ __("SAML SSO Authentication Logs") }}
                            </h4>
                            <p class="mb-0 text-muted fs-7">
                                {{ __("Track login phases, active sessions, assertion validations, and flow outcomes for troubleshooting.") }}
                            </p>
                        </div>

                        <!-- Search and filter toolbar -->
                        <div class="d-flex flex-wrap align-items-center justify-content-between gap-2 p-2 rounded-2 border mb-3" style="background-color: rgba(0, 0, 0, 0.02);">
                            <div class="d-flex align-items-center gap-2 flex-grow-1" style="max-width: 500px;">
                                <div class="input-group">
                                    <span class="input-group-text bg-transparent border-end-0">
                                        <i class="ti ti-search text-muted"></i>
                                    </span>
                                    <input type="text" id="logging-search-input" class="form-control border-start-0" 
                                           placeholder="{{ __('Search username, session ID, location, or ID...') }}" 
                                           value="{{ logging_search }}">
                                    {% if logging_search is not empty %}
                                        <button type="button" class="btn btn-outline-secondary border-start-0 border-end-0" onclick="clearLoggingSearch()">
                                            <i class="ti ti-x"></i>
                                        </button>
                                    {% endif %}
                                    <button type="button" class="btn btn-primary" onclick="performLoggingSearch()">
                                        {{ __("Search") }}
                                    </button>
                                </div>
                            </div>
                            <div class="text-muted fs-7">
                                {{ __("Total records found:") }} <strong>{{ logging_total_count }}</strong>
                            </div>
                        </div>

                        <!-- Log entries table -->
                        <div class="table-responsive rounded-2 border">
                            <table class="table table-hover align-middle mb-0 logging-table">
                                <thead class="table-light">
                                    <tr>
                                        <th style="width: 70px;">{{ __("ID") }}</th>
                                        <th style="width: 80px;">{{ __("IdP ID") }}</th>
                                        <th>{{ __("Username") }}</th>
                                        <th style="width: 110px;" class="text-center">{{ __("GLPI Authed") }}</th>
                                        <th style="width: 110px;" class="text-center">{{ __("SAML Authed") }}</th>
                                        <th>{{ __("Phase") }}</th>
                                        <th>{{ __("Login Time") }}</th>
                                        <th>{{ __("Last Click") }}</th>
                                        <th style="width: 90px;" class="text-center">{{ __("Location") }}</th>
                                        <th style="width: 90px;" class="text-center">{{ __("Trace") }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if loggingfields is empty %}
                                        <tr>
                                            <td colspan="10" class="text-center py-4 text-muted">
                                                <i class="ti ti-database-x fs-1 d-block mb-2"></i>
                                                {{ __("No logs match the criteria.") }}
                                            </td>
                                        </tr>
                                    {% else %}
                                        {% for logrow in loggingfields %}
                                            <tr>
                                                <td class="font-monospace text-muted">{{ logrow.id }}</td>
                                                <td>
                                                    <span class="badge bg-secondary-lt font-monospace px-2 py-1">{{ logrow.idpId }}</span>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center gap-2">
                                                        <span class="avatar avatar-xs rounded-circle bg-blue-lt">
                                                            {{ logrow.userName|slice(0, 2)|upper }}
                                                        </span>
                                                        <div>
                                                            <div class="font-weight-medium">{{ logrow.userName }}</div>
                                                            <div class="text-muted fs-8 font-monospace" style="max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="{{ logrow.sessionId }}">
                                                                {{ logrow.sessionId }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    {% if logrow.glpiAuthed == 1 %}
                                                        <span class="logging-badge logging-badge-success">{{ __("Yes") }}</span>
                                                    {% else %}
                                                        <span class="logging-badge logging-badge-danger">{{ __("No") }}</span>
                                                    {% endif %}
                                                </td>
                                                <td class="text-center">
                                                    {% if logrow.samlAuthed == 1 %}
                                                        <span class="logging-badge logging-badge-success">{{ __("Yes") }}</span>
                                                    {% else %}
                                                        <span class="logging-badge logging-badge-danger">{{ __("No") }}</span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if logrow.phase == 1 %}
                                                        <span class="logging-badge logging-badge-phase-1" title="Phase 1: Initial visit">{{ __("Initial") }}</span>
                                                    {% elseif logrow.phase == 2 %}
                                                        <span class="logging-badge logging-badge-phase-2" title="Phase 2: SAML IDP call expected back at ACS">{{ __("SAML ACS Expected") }}</span>
                                                    {% elseif logrow.phase == 3 %}
                                                        <span class="logging-badge logging-badge-phase-3" title="Phase 3: Performed SAML IDP authentication">{{ __("SAML Authed") }}</span>
                                                    {% elseif logrow.phase == 4 %}
                                                        <span class="logging-badge logging-badge-phase-4" title="Phase 4: Performed GLPI session authentication">{{ __("GLPI Authed") }}</span>
                                                    {% elseif logrow.phase == 5 %}
                                                        <span class="logging-badge logging-badge-phase-5" title="Phase 5: File Exclude / Reserved">{{ __("Reserved") }}</span>
                                                    {% elseif logrow.phase == 6 %}
                                                        <span class="logging-badge logging-badge-phase-6" title="Phase 6: Session forced logged off">{{ __("Forced Logoff") }}</span>
                                                    {% elseif logrow.phase == 7 %}
                                                        <span class="logging-badge logging-badge-phase-7" title="Phase 7: Session Timed out">{{ __("Timed Out") }}</span>
                                                    {% elseif logrow.phase == 8 %}
                                                        <span class="logging-badge logging-badge-phase-8" title="Phase 8: Session Logged Out">{{ __("Logged Out") }}</span>
                                                    {% else %}
                                                        <span class="logging-badge bg-light text-dark">{{ logrow.phase }}</span>
                                                    {% endif %}
                                                </td>
                                                <td class="text-nowrap fs-7 text-muted">{{ logrow.loginTime }}</td>
                                                <td class="text-nowrap fs-7 text-muted">{{ logrow.lastClickTime }}</td>
                                                <td class="text-center">
                                                    {% if logrow.location is not empty %}
                                                        <button type="button" class="btn btn-sm btn-ghost-secondary p-1 border-0" 
                                                                data-bs-toggle="popover" data-bs-placement="top" data-bs-html="true" 
                                                                data-bs-content="<pre class='p-2 mb-0 font-monospace text-wrap' style='max-height: 250px; overflow-y: auto; word-break: break-all;'>{{ logrow.location }}</pre>" 
                                                                title="{{ __('Location URL') }}">
                                                            <i class="ti ti-map-pin fs-4 text-info"></i>
                                                        </button>
                                                    {% else %}
                                                        <span class="text-muted fs-7">-</span>
                                                    {% endif %}
                                                </td>
                                                <td class="text-center">
                                                    {% if logrow.loginFlowTrace is not empty %}
                                                        <button type="button" class="btn btn-sm btn-ghost-secondary p-1 border-0" 
                                                                data-bs-toggle="popover" data-bs-placement="top" data-bs-html="true" 
                                                                data-bs-content="<pre class='p-2 mb-0 font-monospace text-wrap text-start' style='max-height: 350px; overflow-y: auto; white-space: pre-wrap; font-size: 0.8rem;'>{{ logrow.loginFlowTrace }}</pre>" 
                                                                title="{{ __('Login Flow Trace') }}">
                                                            <i class="ti ti-terminal-2 fs-4 text-warning"></i>
                                                        </button>
                                                    {% else %}
                                                        <span class="text-muted fs-7">-</span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>

                        <!-- Pagination controls -->
                        {% if logging_total_pages > 1 %}
                            {% set start_page = logging_page - 3 < 1 ? 1 : logging_page - 3 %}
                            {% set end_page = logging_page + 3 > logging_total_pages ? logging_total_pages : logging_page + 3 %}
                            <div class="d-flex align-items-center justify-content-between flex-wrap gap-2 mt-2">
                                <div class="text-muted fs-7">
                                    {{ __("Showing page") }} <strong>{{ logging_page }}</strong> {{ __("of") }} <strong>{{ logging_total_pages }}</strong>
                                </div>
                                <nav aria-label="Logging pagination">
                                    <ul class="pagination pagination-sm mb-0">
                                        <li class="page-item {% if logging_page <= 1 %}disabled{% endif %}">
                                            <a class="page-link" href="#" onclick="changeLoggingPage({{ logging_page - 1 }}); return false;">
                                                <i class="ti ti-chevron-left"></i>
                                            </a>
                                        </li>
                                        
                                        {% if start_page > 1 %}
                                            <li class="page-item">
                                                <a class="page-link" href="#" onclick="changeLoggingPage(1); return false;">1</a>
                                            </li>
                                            {% if start_page > 2 %}
                                                <li class="page-item disabled"><span class="page-link">...</span></li>
                                            {% endif %}
                                        {% endif %}
                                        
                                        {% for p in start_page..end_page %}
                                            <li class="page-item {% if p == logging_page %}active{% endif %}">
                                                <a class="page-link" href="#" onclick="changeLoggingPage({{ p }}); return false;">{{ p }}</a>
                                            </li>
                                        {% endfor %}
                                        
                                        {% if end_page < logging_total_pages %}
                                            {% if end_page < logging_total_pages - 1 %}
                                                <li class="page-item disabled"><span class="page-link">...</span></li>
                                            {% endif %}
                                            <li class="page-item">
                                                <a class="page-link" href="#" onclick="changeLoggingPage({{ logging_total_pages }}); return false;">{{ logging_total_pages }}</a>
                                            </li>
                                        {% endif %}
                                        
                                        <li class="page-item {% if logging_page >= logging_total_pages %}disabled{% endif %}">
                                            <a class="page-link" href="#" onclick="changeLoggingPage({{ logging_page + 1 }}); return false;">
                                                <i class="ti ti-chevron-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <script>
                    function performLoggingSearch() {
                        var searchInput = document.getElementById('logging-search-input');
                        var searchValue = searchInput ? searchInput.value.trim() : '';
                        var currentUrl = new URL(window.location.href);
                        if (searchValue) {
                            currentUrl.searchParams.set('search', searchValue);
                        } else {
                            currentUrl.searchParams.delete('search');
                        }
                        currentUrl.searchParams.set('page', '1');
                        window.location.href = currentUrl.toString();
                    }

                    function clearLoggingSearch() {
                        var currentUrl = new URL(window.location.href);
                        currentUrl.searchParams.delete('search');
                        currentUrl.searchParams.set('page', '1');
                        window.location.href = currentUrl.toString();
                    }

                    function changeLoggingPage(pageNumber) {
                        var currentUrl = new URL(window.location.href);
                        currentUrl.searchParams.set('page', pageNumber);
                        window.location.href = currentUrl.toString();
                    }

                    $(function() {
                        var searchInput = document.getElementById('logging-search-input');
                        if (searchInput) {
                            searchInput.addEventListener('keypress', function(e) {
                                if (e.key === 'Enter') {
                                    e.preventDefault();
                                    performLoggingSearch();
                                }
                            });
                        }
                        
                        // Initialize popovers on logging tab specifically
                        var popoverTriggerList = [].slice.call(document.querySelectorAll('#logging [data-bs-toggle="popover"]'));
                        popoverTriggerList.map(function (popoverTriggerEl) {
                            return new bootstrap.Popover(popoverTriggerEl, {
                                sanitize: false
                            });
                        });
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="card itil-footer" style="margin-top:10px;">
        <div class="form-buttons col-lg d-flex ms-auto ms-lg-0 flex-row-reverse p-1 ">
            <div class="m-1">
                <button class="btn btn-primary " type="submit" name="update" title="Save">
                    <i class="far fa-save"></i>
                    <span class="d-none d-xl-block">{{ __("Save") }}</span>
                    </button>
            </div>
            <div class="m-1">
                <button class="btn btn-ghost-danger" type="submit" name="delete" title="" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Put in trashbin">
                    <i class="ti ti-trash"></i>
                    <span class="d-none d-xl-block">{{ __("Delete") }}</span>
                    </button>
            </div>
            {% if inputfields.debug.value == true %}
            <div class="m-1 align-middle text-muted pull-left pt-2">
                ⚠️ Warning SP metadata exposed! - ROWID: {{ inputfields.id.value }} | CREATED DATE: {{ inputfields.date_creation.value }} | LAST UPDATED: {{ inputfields.date_mod.value }}
            {% endif %}
        </div>
    </div>
</div>
{{ close_form|raw }}